<!DOCTYPE html>
<html
        xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
        lang="ru"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="info(fields, action)">
    <form method="post" th:action="${action}">
        <div th:replace="${fields}"></div>
        <input type="hidden" name="id" th:if="${instance}" th:value="${instance.id}">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
<div th:fragment="name-field" class="form-group">
    <label for="name" th:utext="${info.getPlaceholder()}" />
    <input type="text" th:value="${instance != null? instance.getName() : ''}" class="form-control" id="name" name="name">
</div>
<div th:fragment="field(label, name, value)" class="form-group">
    <label for="name" th:utext="${label}" />
    <input type="text" class="form-control" th:value="${value}" th:id="${name}" th:name="&{name}">
</div>
</body>
</html>