<!DOCTYPE html>
<html
        xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
        lang="ru"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="list">
    <h4 th:utext="${viewer.getLabelAll()}" />
    <div class="list-group">
        <a
                class="list-group-item list-group-item-action"
                th:each="item : ${list}"
                th:utext="${item.getName()}"
                th:href="${name} + '/' +${item.getId()}"
        />
    </div>
</div>
</body>
</html>