<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="timetable" class="row">
    <div th:each="day : ${week}" class="col-4">
        <div th:class="${'card ' + name}">
            <div class="card-body">
                <div class="card-title" th:utext="${day.getName()}" />
                <div class="card-text">
                    <div class="list-group">
                        <div th:each="pair : ${day.getLessons()}" class="list-group-item">
                            <small>
                                <span th:text="${pair.pairNum}" />
                                <a
                                        th:if="${pair.id}"
                                        th:href="'/lessons/edit/' + ${pair.getId() + '?back=/' + name + '/' + instance.getId()}"
                                        th:utext="${instance.getLessonLabel(pair)}"
                                ></a>
                                <a
                                        th:unless="${pair.id}"
                                        th:href="${pair.getLinkCreate(name, instance.getId())+ '&back=/' + name + '/' + instance.getId()}"
                                >
                                    Окно
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>