<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="timetable" class="row timetable">
    <div th:each="day : ${week}" class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title" th:utext="${day.getName()}" />
                <div class="card-text">
                    <div class="list-group">
                        <div
                                th:each="pair : ${day.getLessons()}"
                                th:data-day="${pair.dayWeek}"
                                th:data-pair="${pair.pairNum}"
                                class="list-group-item list-group-item-action pair"
                        >
                            <small>
                                <span th:text="${pair.pairNum}" />
                                <a th:if="${pair.id}" th:utext="${instance.getLessonLabel(pair)}"></a>
                                <a th:unless="${pair.id}">Окно</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>