<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:utext="${instance.getName()}"></title>
</head>
<body>

<div layout:fragment="body">
    <div class="row">
        <div class="col-5">
            <div class="d-flex justify-content-between">
                <h4>Инфо</h4>
                <a th:href="'/' +${name} + '/delete/' + ${instance.getId()}">
                    <div class="btn btn-danger">Удалить</div>
                </a>
            </div>
            <div class="col">
                <form method="post" th:action="'/' + ${name} + '/' + ${instance.id}">
                    <div th:replace="layouts/info :: name-field"></div>
                    <input type="hidden" name="id" th:value="${instance.id}">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>

        <div class="col-12">
            <h4>Расписание</h4>
            <div th:replace="layouts/timetable :: timetable"/>
        </div>
    </div>
</div>

</body>
</html>