<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:utext="${instance.getName()}"></title>
</head>
<body>

<div layout:fragment="body">
    <div class="row">
        <div class="col-5">
            <div th:replace="layouts/info :: default-form"/>
        </div>

        <div class="col-12">
            <h4>Расписание</h4>
            <div th:replace="layouts/timetable :: timetable"/>
        </div>
    </div>
</div>

</body>
</html>