<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
</head>
<body>
<div layout:fragment="body">
    <div class="card">
        <div class="card-body">
            <form method="post" action="/lessons/save">
                <div class="form-group">
                    <label for="groups">Группа</label>
                    <select required class="form-control" name="group" id="groups">
                        <option value="" selected disabled hidden>Выбрать группу</option>
                        <option
                                th:each="item : ${groups}"
                                th:value="${item.getId()}"
                                th:text="${item.getName()}"
                                th:selected="${item.id == lesson.group}"
                        />
                    </select>
                </div>
                <div class="form-group">
                    <label for="teachers">Предмет</label>
                    <select required class="form-control" name="teacher" id="teachers">
                        <option value="" selected disabled hidden>Выбрать учителя</option>
                        <option
                                th:each="item : ${subjects}"
                                th:value="${item.getId()}"
                                th:text="${item.getName()}"
                                th:selected="${item.id == lesson.subject}"
                        />
                    </select>
                </div>
                <div class="form-group">
                    <label for="room">Кабинет</label>
                    <select required class="form-control" name="room" id="room">
                        <option value="" selected disabled hidden>Выбрать кабинет</option>
                        <option
                                th:each="item : ${rooms}"
                                th:value="${item.getId()}"
                                th:text="${item.getName()}"
                                th:selected="${item.id == lesson.room}"
                        />
                    </select>
                </div>
                <div class="form-group">
                    <label for="day">День недели</label>
                    <select required class="form-control" name="day" id="day">
                        <option value="" selected disabled hidden>Выбрать день недели</option>
                        <option
                                th:each="item : ${week}"
                                th:value="${item.getId()}"
                                th:text="${item.getName()}"
                                th:selected="${item.id == lesson.dayWeek}"
                        />
                    </select>
                </div>
                <div class="form-group">
                    <label for="pair">Пара</label>
                    <select required class="form-control" name="pair" id="pair">
                        <option value="" selected disabled hidden>Выбрать пару</option>
                        <option
                                th:each="item : ${pairs}"
                                th:text="${item}"
                                th:selected="${item == lesson.pairNum}"
                        />
                    </select>
                </div>
                <input type="hidden" name="back" th:value="${back}">
                <input type="hidden" name="id" th:value="${lesson.id}">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>

            <div
                    th:if="${success}"
                    th:utext="${success}"
                    class="alert alert-success"
                    role="alert"/>

            <div
                    th:if="${danger}"
                    th:utext="${danger}"
                    class="alert alert-danger"
                    role="alert"/>

            <h5 th:if="${cross}">В это время:</h5>

            <div th:if="${cross}" class="row">
                <div th:each="cr : ${cross}" class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="list-group">
                                <a
                                        th:href="${'/teachers/' + cr.teacher.id}"
                                        th:class="${'list-group-item-' + ((cr.teacher.id == lesson.teacher)? 'danger' : 'light') + ' list-group-item list-group-item-action'}"
                                        th:text="${'Учитель: ' + cr.teacher.name}"
                                />
                                <a
                                        th:href="${'/groups/' + cr.group.id}"
                                        th:class="${'list-group-item-' + ((cr.group.id == lesson.group)? 'danger' : 'light') + ' list-group-item list-group-item-action'}"
                                        th:text="${'Группа: ' + cr.group.name}"
                                />
                                <a
                                        th:href="${'/rooms/' + cr.room.id}"
                                        th:class="${'list-group-item-' + ((cr.room.id == lesson.room)? 'danger' : 'light') + ' list-group-item list-group-item-action'}"
                                        th:text="${'Кабинет: ' + cr.room.name}"
                                />

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>