<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" lang="ru">
<head>
    <title th:utext="${viewer.getTitle()}"/>
</head>
<body>
<div layout:fragment="body">
    <div class="row">
        <div class="col-7" th:insert="layouts/list :: list"></div>

        <div class="col">
            <h4>Новый студент</h4>
            <form method="post" action="/students/create">
                <div th:replace="layouts/info :: name-field"></div>
                <div class="form-group">
                    <label for="groups">Группа</label>
                    <select required class="form-control" name="group" id="groups">
                        <option value="" selected disabled hidden>Выбрать группу</option>
                        <option
                                th:each="item : ${groups}"
                                th:value="${item.getId()}"
                                th:text="${item.getName()}"
                        />
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>